/**
 * Menu Item Links.
 */
.menu-1-item-link {
	align-items 	: center;
	color 			: $gray;
	display			: flex;
	padding 		: 0.5em 1em;
	text-decoration	: none;
	text-transform 	: uppercase;
	transition 		: $trans__default;
	white-space 	: nowrap;

	&:focus {
		outline-color: $red;
	}

	&:focus,
	&:active,
	&:visited {
		color: $gray;
	}

	@include laptop-down {
		min-height: 44px;
		justify-content	: space-between;
	}

	@include tablet-portrait-up {
		color: $gray;
	}

	@include laptop-up {
		color: $gray;

		&:hover {
			background-color: $red;
			color: $light_gray;
		}
	}
}

.menu-1-item-link-1 { // 2nd-level menu item link, first submenu
	@include laptop-down {
		padding-left: 2em;
	}

	@include tablet-to-laptop {
		color: $light_gray;

		&:hover,
		&:focus,
		&:active,
		&:visited {
			color: $light_gray;
		}
	}
}

.menu-1-item-link-2 { // 3rd-level menu item link, second submenu
	@include laptop-down {
		border-left : none;
		padding-left: 3em;
	}
}