/**
 * Menu Items.
 */
.menu-1-item { // Every menu item
	//position: relative;

	&:hover,
	&.focus {

		> ul {
			@include tablet-portrait-up {
				opacity 	: 1;
				visibility 	: visible;
			}
		}

	}

	&.menu-item-has-children > a {
		@include tablet-down {
			border-bottom 	: 3px solid $med_gray;
		}

		@include tablet-to-laptop {
			border-bottom-color: $gray;
		}
	}
}

.menu-0-item-0-has-children {
	> a {
		margin-right: 0.75em;

		&:after {
			border 				: 5px solid transparent;
			border-bottom-width : 0;
			border-top-color	: currentColor;
			content 			: "";
			height 				: 0;
			margin 				: 0.25em 0.5em;
			position 			: absolute;
			width 				: 0;
		}
	}
}

.menu-1-item-1 { // 2nd-level menu item, first submenu
	display 	: block;
	text-align 	: left;

	&:last-child { // Last child of the 2nd-level submenu and below.

		@include phone-down {
			padding-bottom: 0;
		}
	}

	&:hover,
	&.focus {

		> ul {
			@include tablet-portrait-up {
				left 	: 0;
				top 	: 100%;
			}
		}
	}
}

.menu-1-items .contact-us {
	background-color: $med_gray;
}