/**
 * Toggle Button.
 */
.menu-1-toggle {
	@include resetbutton( $gray, $gray, $light_gray );

	color 			: $light_gray;
	font-size		: 1.25em;
	line-height		: 1.5;
	outline 		: 0;
	padding 		: 0.5em;
	position 		: initial !important;
	width			: 100%;

	&:hover,
	&:focus,
	&:active {
		border		: none;
	}

	@include laptop-up {
		display 		: none;
	}

	* {
		pointer-events: none;
	}
}

.menu-1-submenu-toggle {
	@include resetbutton();

	color 		: currentColor;
	cursor 		: pointer;
	height 		: 44px;
	line-height	: 1.5;
	width 		: 44px;

	@include laptop-up {
		display: none;
	}
}

.menu-1-submenu-icon {
	display: none;

	@include laptop-up {
		display 	: inline-block;
		margin-left : 0.25em;
	}
}

.close-tablet-menu-btn {
	display: none;

	@include tablet-to-laptop {
		align-items 	: center;
		display 		: flex;
		justify-content : center;
	}
}