.btn-cta {
	grid-area 		: phone;

	.site-header & {
		margin-bottom: 1em;

		@include tablet-portrait-up {
			margin-bottom: 0;
		}
	}
}

.btn-cta-link {
	background-color: $red;
	display 		: flex;
	justify-content : center;
	line-height 	: 1.25;
	padding 		: 0.5em;

	@include unline( $light_gray );

	.large & {
		font-size: 1.25em;
	}
}

.svg-phone {
	fill: $light_gray;
	margin-right: 0.5em;
}