.nav-2 {
	grid-area: menu;
	margin: 1em 0;
}

.footer-menu-items {
	@include resetlist;

	@include tablet-portrait-up {
		display 		: flex;
		flex-wrap 		: wrap;
	}
}

.footer-menu-item-0 {
	&:first-child .footer-menu-item-link {
		padding-right: 0.5em;
	}

	@include tablet-portrait-up {
		& + & {
			border-left: solid 1px $light_gray;

			.footer-menu-item-link {
				padding: 0 0.5em;
			}
		}
	}
}

.footer-menu-item-link {
	align-items: center;
	display: flex;

	@include tablet-down {
		min-height: 44px;
		min-width: 44px;
	}
}