.comment-navigation,
.posts-navigation,
.post-navigation {

	main & {
		margin			: 0 auto $size__default-bot-marg;
		overflow 		: hidden;
		padding-left 	: 0;
		padding-right 	: 0;
		max-width 		: $content_width;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;

		&:before {
			content 	: "<";
			margin-right: 0.5em;
		}
	}

	.nav-next {
		flex 		: 1 0 50%;
		text-align 	: end;

		&:after {
			content 	: ">";
			margin-left : 0.5em;
		}
	}
}
