.nav-3 {
	grid-area: social;
}

.social-menu-items {
	@include resetlist();

	@include tablet-portrait-up {
		align-items: center;
		display: flex;
	}
}

.social-menu-item {
	display 	: inline-block;
	line-height : 1.5;
	margin 		: 0 0.5em;
	position 	: relative;
	
	svg {
		fill 	: $light_gray;
		height 	: $font__size-social;
		width 	: $font__size-social;
	}
}

.social-menu-item-link {
	display: block;
}