/**
 * Close menu button.
 */
.close-tablet-menu-btn {
	@include resetbutton();
	background-color: $gray;
	color 			: $med_gray;
	display 		: none;
	padding			: .5em 1em;
	transition 		: $trans__default;
	width 			: 100%;

	&:hover {
		background-color: $light_gray;
		color 			: $gray;

		.tablet-slide-ontop-from-left & .close-btn-text:before {
			border-right-color: $gray;
		}

		.tablet-slide-ontop-from-right & .close-btn-text:before {
			border-left-color: $gray;
		}
	}

	&:focus,
	&:active {
		box-shadow	: inset 0 0 5px $gray;
		outline 	: none;
	}
	
	@include tablet-to-laptop {
		display: block;
	}
}

.close-btn-text {
	pointer-events: none;

	&:before,
	&:after {
		border 		: 5px solid transparent;
		content 	: '';
	}
}