/**
 * Slide on top of content from right
 */
.tablet-slide-ontop-from-right {
	.menu-1-items-0 {
		@include tablet-to-laptop {
			right 			: 0;
			transform 		: translateX( $size__menu_width);
		}
	}

	.close-btn-text {
		&:after {
			border-left-color 	: $med_gray;
			display 			: inline-block;
			margin-left			: 0.5em;

			.close-tablet-menu-btn:hover & {
				border-left-color: $gray;
			}
		}
	}

	.menu-1-toggle {
		left: 0;
	}
}