.site-header {
	// DO NOT ADD PADDING HERE! - it screws up menus
	align-items 	: center;
	display 		: flex;
	grid-area		: header;
	overflow 		: auto;

	@include phone-down {
		flex-direction 	: column;
	}

	@include tablet-portrait-up {
		justify-content : space-around;
	}

	@include tablet-portrait-up {
		display 			: grid;
		grid-template-areas : "logo menu" "logo phone";
		overflow 			: visible;
	}

	@include laptop-up {
		grid-template-areas: "logo menu phone";
	}
}

.wrap-header {
	@include centermax();
}

.site-branding {
	grid-area: logo;

	@include phone-down {
		margin: 0 auto;
	}
}

.site-title {
	margin: 0;
	padding: 0.25em;
	text-align: center;
}

.site-title-link {
	color 			: $gray;
	text-decoration : none;
}

.site-description {
	text-align: center;
}

.custom-logo-link {
	display: block;
}

.custom-logo {
	display: inline-block;
}