.site-header {
	// DO NOT ADD PADDING HERE! - it screws up menus
	align-items 	: center;
	display 		: flex;
	flex-direction 	: column;
	grid-area		: header;
	grid-gap 		: 1em;
	margin 			: 0 auto;
	overflow 		: auto;

	@include tablet-portrait-up {
		display 			: grid;
		grid-template-areas : "logo address" "logo phone" "logo menu";
		overflow 			: visible;
	}

	@include adminbar-up {
		grid-template-areas : "logo address phone" "logo menu menu";
	}

	@include content-pad-up {
		width: 60rem;
	}

	address {
		grid-area: address;
		margin-bottom: 1em;

		@include tablet-portrait-up {
			margin-bottom: 0;
		}
	}
}

.wrap-header {
	@include centermax();
}

.site-branding {
	grid-area: logo;

	@include phone-down {
		margin: 0 auto;
	}
}

.site-title {
	margin: 0;
	padding: 0.25em;
	text-align: center;
}

.site-title-link {
	color 			: $gray;
	text-decoration : none;
}

.site-description {
	text-align: center;
}

.custom-logo-link {
	display: block;
}

.custom-logo {
	display: inline-block;
}