.home {
	.hero__heading {
		background-color: rgba($dark,0.5);
		border 			: 1px solid;
		font-weight 	: 400;
		text-transform 	: uppercase;
	}

	.page {
		margin-top: 0 !important;
	}

	.page-header {
		display: none;
	}

	.hero__button {
		padding: 0.25em 1em;
	}

	.spotlight,
	.horizontal-feature__heading {
		font-size 		: 2rem;
		font-weight 	: 400;
		text-transform 	: uppercase;
	}

	.horizontal-feature__button {
		border 			: 1px solid;
		padding 		: 0.25em 1em;
		text-transform 	: uppercase;
	}
}