.page-template-page_full-width,
.page-template-default,
.casestudy-template-default,
.post-template-default,
.archive,
.block-editor-layout {
	grid-template-areas: "header" "breadcrumbs" "content" "footer";
}

.page-template-page_content-sidebar {
	grid-template-areas: "header header" "breadcrumbs breadcrumbs" "content sidebar" "footer footer";
}

.page-template-page_content-sidebar {
	grid-template-areas: "header header" "breadcrumbs breadcrumbs" "sidebar content" "footer footer";
}

.page-header,
.entry-header {
	@include maxcontent;

	.page-title,
	.entry-title {
		color 		: $red;
		font-size 	: 1.5em;
		width 		: 100%;

		@include large-mobile-up {
			font-size: 2em;
		}

		@include content-pad-down {
			padding-left 	: 1.5rem;
			padding-right 	: 1.5rem;
		}
	}
}

.featured-image-page-header {
	align-items 		: center;
	display 			: flex;
	justify-content 	: center;
	margin-bottom 		: 3em;
	overflow 			: hidden;	
	position 			: relative;
	width 				: 100%;

	@include tablet-landscape-up {
		height: 500px;
	}

	.wp-post-image {
		width: 100%;
	}

	.page-title,
	.post-title {
		background-color: rgba( $dark, 0.5 );
		border 			: 1px solid;
		color 			: $light_gray;
		font-weight 	: 400;
		left 			: 50%;
		margin 			: 0;
		max-width 		: $bp__tablet;
		padding 		: 0.25em;
		position 		: absolute;
		text-align 		: center;
		text-transform 	: uppercase;
		top 			: 50%;
		transform 		: translate(-50%,-50%);
		width 			: calc( 100% - 3rem );
		z-index 		: 1;
	}

	&:before {
		background-color: rgba($dark, 0.5);
		content 		: "";
		height 			: 100%;
		position 		: absolute;
		width 	 		: 100%;
		z-index 		: 1;
	}
}

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.entry-header {
	margin-bottom: 1.5em;
}

.status-publish {
	&:not(.has-post-thumbnail) {
		margin-top: 3em;
	}
}

.page-content,
.entry-content,
.entry-summary {
	margin-bottom 	: 1.5em;

	> * {
		@include maxcontent;
	}

	> .alignfull {
		padding-left 	: 0;
		padding-right 	: 0;
		width 			: 100%;

		&.wp-block-latest-posts {
			padding-left 	: 1.5rem;
			padding-right 	: 1.5rem;
		}
	}

	> .alignwide {
		max-width 	: calc($content_width + 12.5%);
		width 		: 100%;

		&.wp-block-latest-posts {
			padding-left 	: 1.5rem;
			padding-right 	: 1.5rem;
		}
	}

	> .has-background {
		padding: 1.5em;
	}

	@include content-pad-up {
		.wp-block-code,
		.wp-block-verse,
		.wp-block-preformatted {
			padding-left 	: 1.5rem;
			padding-right 	: 1.5rem;
		}
	}

	.widget {
		margin-left: auto;
		margin-right: auto;
	}
}

.page-links {
	margin: 0 0 1.5em;
}

.archive-entry-link {
	color: $red;
}

body.sticky {
	display: grid !important;
}

.entry-footer {
	@include maxcontent;
}

.memberships .page-content a {
	@include unline( $dark, $red );
}