.wp-block-columns {
	flex-direction: column;

	@include tablet-landscape-up {
		flex-direction: row;
	}

	.wp-block-column {
		p {

		}

		& + .wp-block-column {
			margin-top: 3rem;
			
			@include tablet-landscape-up {
				margin-left: 3rem;
				margin-top: 0;
			}
		}
	}
	
	&.has-2-columns {

	}

	&.has-3-columns {

	}

	&.has-4-columns {

	}

	&.has-5-columns {

	}

	&.has-6-columns {

	}

	&.has-7-columns {

	}
}