.wp-block-columns {
	.wp-block-column {
		margin-bottom: 1.5em;
		margin-top: 0;
		padding-left: 0;
		padding-right: 0;

		p {

		}

		& + .wp-block-column {
			margin-top: 0;
		}
	}
	
	&.has-2-columns {
		.wp-block-column {
			&:first-child {
				margin-right: 1.5em;
			}
		}
	}

	&.has-3-columns {
		.wp-block-column {
			&:first-child {
				margin-right: 1.5em;
			}
		}
	}

	&.has-4-columns {

	}

	&.has-5-columns {

	}

	&.has-6-columns {

	}

	&.has-7-columns {

	}
}