// Colors
$errorred: #dc3232; // This is a WP admin color. Do not change.

// Theme Colors
$light 		: #fff;
$light_gray : #eaeaea;
$med_gray	: #b8b8b8;
$gray 		: #333333;
$dark 		: #000;
$red 		: #a8022e;
