// Colors
$bg__tablet-menu 			: #adb5bd;
$errorred 					: #dc3232; // This is a WP admin color. Do not change.

$insert 		: #fff3bf;
$a11y 			: #0b7285;

$light_gray 	: #f8f9fa;
$light_med_gray : #dee2e6;
$med_gray		: #adb5bd;
$dark_med_gray 	: #495057;
$dark_gray 		: #212529;